<h2 style="text-align: center;">All Items</h2>

<div class = "row">
    <% @items.each do |item| %>
    <div class = "column">
        <div class = "card">
            <img src= <%= item.photo_url %>, style="width:250px;height:300px;">
            <div class="container">
                <h4><%= item.name %></h4>
                <p>Stocks: <%= item.stocks %><p>
                <p>Price: <%= item.price %><p>
                <%= form_with url: home_path, method: :post do |f| %>
                    <%= f.label :quantity, "Quantity" %>
                    <%= f.number_field :quantity, min: 1, max: item.stocks %>
                    <%= f.hidden_field :id, :value => item.id %>
                    <%= f.submit "Add to Cart" %>
                <% end %>
            </div>
        </div>
    </div>
    <br>
    <% end %>
</div>
