<div class = "head" >
<h1>SHOP MART</h1>
<h3>One stop for all your needs!</h3>
</div>
<br/>
<div class="topnav">
	<% if Current.user %>
		<%= link_to 'Home', home_path, class: "active" %>
		<%= link_to 'Orders', user_orders_path  %>
		<%= link_to 'Admin', ad_sign_in_path %>	
		<div>Logged in as: <%= Current.user.email %></div>
		<%= link_to 'Logout', logout_path, method: :delete %>	
	<% elsif Current.admin %>
		<%= link_to 'Home', ad_home_path, class: "active" %>
		<%= link_to 'Items', items_path %>
		<%= link_to 'New Item', new_item_path %>
		<%= link_to 'Logout', ad_logout_path, method: :delete %>
		<div>Logged in as: <%= Current.admin.email %></div>
	<% else %>
		<%= link_to 'Home', root_path, class: "active" %>
		<%= link_to 'Sign in', sign_in_path %>
		<%= link_to 'Sign up', sign_up_path %>
		<%= link_to 'Admin', ad_sign_in_path %>
	<% end %>
</div>